21022020_ QuanLySanXuatJuKi/QuanLySanXuatJuKi/QuanLySanXuatJuKi/ATSCADAWebApp1/Service References/ATWebPortServiceReference/ATWebPort1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.250:8011/ATWebPort?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATSCADA.iWinTools" />
  <xs:element name="GetClientCounter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientCounterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientCounterResult" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TagListClear">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TagListClearResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ATSCADA.iWinTools" minOccurs="0" name="Tag" nillable="true" type="q1:WebTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tagname" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ATSCADA.iWinTools" minOccurs="0" name="GetTagResult" nillable="true" type="q2:WebTag" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Tagname" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TagValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TagStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TagTimeStamp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTagResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteTagValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ValuetoWrite" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteTagValueResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>