21022020_ QuanLySanXuatJuKi/QuanLySanXuatJuKi/QuanLySanXuatJuKi/ATSCADAWebApp1/Service References/ATWebPortServiceReference/ATWebPort2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ATSCADA.iWinTools" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ATSCADA.iWinTools" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WebTag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValuetoWrite" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebTag" nillable="true" type="tns:WebTag" />
</xs:schema>