21022020_ QuanLySanXuatJuKi/QuanLySanXuatJuKi/QuanLySanXuatJuKi/ATSCADAWebApp1/Service References/ATWebPortServiceReference/iWebPortServer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="iWebPortServer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_InterfaceWebPort_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.250:8011/ATWebPort?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.250:8011/ATWebPort?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.250:8011/ATWebPort?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ATSCADA.iWinTools" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InterfaceWebPort_GetClientCounter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientCounter" />
  </wsdl:message>
  <wsdl:message name="InterfaceWebPort_GetClientCounter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientCounterResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWebPort_TagListClear_InputMessage">
    <wsdl:part name="parameters" element="tns:TagListClear" />
  </wsdl:message>
  <wsdl:message name="InterfaceWebPort_TagListClear_OutputMessage">
    <wsdl:part name="parameters" element="tns:TagListClearResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWebPort_AddTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTag" />
  </wsdl:message>
  <wsdl:message name="InterfaceWebPort_AddTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTagResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWebPort_GetTag_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTag" />
  </wsdl:message>
  <wsdl:message name="InterfaceWebPort_GetTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWebPort_UpdateTag_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTag" />
  </wsdl:message>
  <wsdl:message name="InterfaceWebPort_UpdateTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTagResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceWebPort_WriteTagValue_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteTagValue" />
  </wsdl:message>
  <wsdl:message name="InterfaceWebPort_WriteTagValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteTagValueResponse" />
  </wsdl:message>
  <wsdl:portType name="InterfaceWebPort">
    <wsdl:operation name="GetClientCounter">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceWebPort/GetClientCounter" message="tns:InterfaceWebPort_GetClientCounter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceWebPort/GetClientCounterResponse" message="tns:InterfaceWebPort_GetClientCounter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TagListClear">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceWebPort/TagListClear" message="tns:InterfaceWebPort_TagListClear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceWebPort/TagListClearResponse" message="tns:InterfaceWebPort_TagListClear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTag">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceWebPort/AddTag" message="tns:InterfaceWebPort_AddTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceWebPort/AddTagResponse" message="tns:InterfaceWebPort_AddTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTag">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceWebPort/GetTag" message="tns:InterfaceWebPort_GetTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceWebPort/GetTagResponse" message="tns:InterfaceWebPort_GetTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTag">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceWebPort/UpdateTag" message="tns:InterfaceWebPort_UpdateTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceWebPort/UpdateTagResponse" message="tns:InterfaceWebPort_UpdateTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteTagValue">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceWebPort/WriteTagValue" message="tns:InterfaceWebPort_WriteTagValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceWebPort/WriteTagValueResponse" message="tns:InterfaceWebPort_WriteTagValue_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_InterfaceWebPort" type="tns:InterfaceWebPort">
    <wsp:PolicyReference URI="#NetTcpBinding_InterfaceWebPort_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetClientCounter">
      <soap12:operation soapAction="http://tempuri.org/InterfaceWebPort/GetClientCounter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TagListClear">
      <soap12:operation soapAction="http://tempuri.org/InterfaceWebPort/TagListClear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTag">
      <soap12:operation soapAction="http://tempuri.org/InterfaceWebPort/AddTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTag">
      <soap12:operation soapAction="http://tempuri.org/InterfaceWebPort/GetTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTag">
      <soap12:operation soapAction="http://tempuri.org/InterfaceWebPort/UpdateTag" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteTagValue">
      <soap12:operation soapAction="http://tempuri.org/InterfaceWebPort/WriteTagValue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="iWebPortServer">
    <wsdl:port name="NetTcpBinding_InterfaceWebPort" binding="tns:NetTcpBinding_InterfaceWebPort">
      <soap12:address location="net.tcp://192.168.1.250:8010/ATWebPort" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.250:8010/ATWebPort</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>